#speech {
    font: Times;
    padding-left: 25px;
    font-size: 14px;
    color:black;
    line-break: initial;
}
#name {
    
    font-weight: bold;
    font: Times;
    font-size: 16px;
    color:black;
}
#stage-direction {
    font: Times;
    font-style: italic;
    font-size: 14px;
    color:black;
    background-color: lightgray;
}
#stage-direction:hover {
    background-color: black;
    color:white;
}
#name.princepaul {
    color:red;
}
#name.vera {
    color:blue;
}
#name.pres {
    color:orange;
}
#name.mich {
    color:purple;
}
table {
    margin-left: 30px;
    border: 1px solid grey ;
}
th {
    background-color: limegreen;
    color: white;
    border-bottom: 2px solid black;
    padding-left: 10px;
    padding-right: 15px;
    padding-top: 5px;
    padding-bottom: 5px;
    text-align: left;
}
td {
    border-bottom: 1px solid black;
}
tr:nth-child(odd) {
    background-color: lightgreen;
}
th.actor {
    padding-right: 75px;
}